html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font: 16px Arial, sans-serif;
}

button {
    color: #ffffff;
    background-color: #0088ff;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
}